.register-container {
  max-width: 85%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container fieldset {
  border: none;
}

.register-container legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
}

.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container .gender-options {
  margin-bottom: 10px;
}

.register-container .gender-label {
  margin-right: 20px;
}

.register-container input[type="button"],
.register-container .register-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.register-container input[type="button"]:hover,
.register-container .register-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}
