/* ResetPassword.css 

.reset-password-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.reset-password-header {
  color: #333;
  text-align: center;
}

.reset-password-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-password-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Blue color 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth color change
}

.reset-password-button:hover {
  background-color: #0056b3; /* Darker blue on hover
}

.success-message {
  color: #28a745;
}

.error-message {
  color: #dc3545;
}

*/

/* ResetPassword.css */

.reset-password-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.reset-password-header {
  color: #333;
  text-align: center;
}

.reset-password-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-password-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Blue color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.reset-password-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.success-message {
  color: #28a745;
}

.error-message {
  color: #dc3545;
}
